@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
    ViewData["Title"] = localizer["Celebrities"].Value;
    string cultureCode = System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
}

<style>
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        position: relative;
        margin: 0 auto;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<input id="serverData" data-id="@ViewData["id"]" data-culture="@cultureCode" hidden />

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">
            <div class="loader" id="loader" style="display: block;"></div>

            <!-- Title -->
            <h1 class="mt-4" id="title"></h1>
            <!-- Date/Time -->
            <p id="date"></p>
            <!-- Preview Image -->
            <img class="img-fluid rounded" id="headerPhoto" style="width: 900px; height:300px;">
            <hr>
            <!-- Post Content -->
            <p id="content"></p>
            <hr>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">@localizer["Categories"]</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0" id="categories">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tags Widget -->
            <div class="card my-4">
                <h5 class="card-header">@localizer["Tags"]</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0" id="tags">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">@localizer["Related Posts"]</h5>
                <div class="card-body" id="relatedPosts">
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<script>
    let thumb = document.getElementById('headerPhoto');

    let tagsContainer = document.getElementById('tags');
    let categoriesContainer = document.getElementById('categories');

    let relatedPostsContainer = document.getElementById('relatedPosts');

    let date = document.getElementById('date');
    let title = document.getElementById('title');
    let content = document.getElementById('content');

    let posId = document.getElementById('serverData').dataset.id;
    let culture = document.getElementById('serverData').dataset.culture;

    fetch(`/api/celebrityposts/GetReadPost/${posId}/` + culture)
        .then(response => response.json())
        .then(data => {
            thumb.src = `/Photos/${data.photoFilePath}`;
            title.innerText = `${data.title}`;
            content.innerHTML = data.content;

            for (let i = 0; i < data.categories.length; i++) {
                var category = data.categories[i];
                categoriesContainer.innerHTML += `
                                <li>
                                    <a href="/Celebrity/ByCategory?categoryId=${category.categoryId}" >${category.categoryTitle}</a>
                                </li>`
            }

            for (let i = 0; i < data.tags.length; i++) {
                let tag = data.tags[i];

                tagsContainer.innerHTML += `
                                <li>
                                    <a href="/Celebrity/ByTag?tagId=${tag.tagId}" >${tag.tagTitle}</a>
                                </li>`
            }

            date.innerText = `${convertDateFormat(data.created)}` || "";

            hideLoading();
        });

    fetch(`/api/celebrityposts/GetRelatedPosts/${posId}/${culture}`)
        .then(resp => resp.json())
        .then(relatedPosts => {
            for (let i = 0; i < relatedPosts.length; i++) {
                let relatedPost = relatedPosts[i];

                relatedPostsContainer.innerHTML += `
                    <div>
                        <a href="/Celebrity/Read?id=${relatedPost.id}">${relatedPost.title}</a>
                    </div>`;
            }
        })

    function convertDateFormat(date) {
        let month = date.slice(5, 7);
        let day = date.slice(8, 10);
        let monthName = 'Jan';
        switch (month) {
            case '01':
                monthName = 'Jan';
                break;
            case '02':
                monthName = 'Feb';
                break;
            case '03':
                monthName = 'Mar';
                break;
            case '04':
                monthName = 'Apr';
                break;
            case '05':
                monthName = 'May';
                break;
            case '06':
                monthName = 'Jun';
                break;
            case '07':
                monthName = 'Jul';
                break;
            case '08':
                monthName = 'Aug';
                break;
            case '09':
                monthName = 'Sep';
                break;
            case '10':
                monthName = 'Oct';
                break;
            case '11':
                monthName = 'Now';
                break;
            case '12':
                monthName = 'Dec';
                break;
        }
        return monthName + ' ' + day;
    }

    function hideLoading() {
        document.getElementById('loader').style.display = 'none';
    }
</script>